body {
    font-family: 'Alfa Slab One', cursive;
    font-size:6rem;
    background:#2c333a;
  }
div{
    text-align: center;
    animation-name: letras;
}
  .c{
    height: 2em;
    animation-name: letras;
    animation-duration: 5s;
    display: inline-block;
    animation-timing-function: linear;
}
.C{
    height: 2em;
    animation-name: letras;
    animation-duration: 6s;
    display: inline-block;
    animation-timing-function: linear;  
}
.a{
    height: 2em;
    animation-name: letras;
    animation-duration: 7s;
    display: inline-block;
    animation-timing-function: linear;  
}
.A{
    height: 2em;
    animation-name: letras;
    animation-duration: 8s;
    display: inline-block;
    animation-timing-function: linear;  
}
.t{
    height: 2em;
    animation-name: letras;
    animation-duration: 9s;
    display: inline-block;
    animation-timing-function: linear;  
}
   
.T{
    height: 2em;
    animation-name: letras;
    animation-duration: 10s;
    display: inline-block;
    animation-timing-function: linear;  
}
    
.l{
    height: 2em;
    animation-name: letras;
    animation-duration: 11s;
    display: inline-block;
    animation-timing-function: linear;
}
  @keyframes letras{
    100% {
        transform: rotatex(-360deg);
    }
}
